In [2]:
import pandas as pd
import numpy as np

In [3]:
df.columns

NameError: name 'df' is not defined

#### Frequent Category Imputation

In [5]:
df = pd.read_csv('House Train.csv', usecols=['BsmtQual','FireplaceQu','GarageType','SalePrice'])
df.head()

  BsmtQual FireplaceQu GarageType  SalePrice
0       Gd         NaN     Attchd     208500
1       Gd          TA     Attchd     181500
2       Gd          TA     Attchd     223500
3       TA          Gd     Detchd     140000
4       Gd          TA     Attchd     250000

In [6]:
df.shape

(1460, 4)

In [7]:
df.isnull().sum()

BsmtQual        37
FireplaceQu    690
GarageType      81
SalePrice        0
dtype: int64

In [8]:
df.isnull().mean().sort_values(ascending=True)

SalePrice      0.000000
BsmtQual       0.025342
GarageType     0.055479
FireplaceQu    0.472603
dtype: float64

In [25]:
print(df['BsmtQual'].value_counts().index[0])
print(df['GarageType'].value_counts().index[0])
print(df['FireplaceQu'].value_counts().index[0])

TA
Attchd
Gd

In [26]:
def impute_nan(df,variable):
    most_frequent_cat=df[variable].value_counts().index[0]
    df[variable].fillna(most_frequent_cat, inplace=True)

In [27]:
for x in ['BsmtQual','GarageType','FireplaceQu']:
    impute_nan(df,x)

In [29]:
df.isnull().mean()

BsmtQual       0.0
FireplaceQu    0.0
GarageType     0.0
SalePrice      0.0
dtype: float64

#### Adding a New Feature to capture NAN

In [31]:
df = pd.read_csv('House Train.csv', usecols=['BsmtQual','FireplaceQu','GarageType','SalePrice'])
df.head()

  BsmtQual FireplaceQu GarageType  SalePrice
0       Gd         NaN     Attchd     208500
1       Gd          TA     Attchd     181500
2       Gd          TA     Attchd     223500
3       TA          Gd     Detchd     140000
4       Gd          TA     Attchd     250000

In [32]:
def impute_nan(df,variable):
    df[variable+'_new']= np.where(df[variable].isnull(),1,0)

In [33]:
for x in ['BsmtQual','FireplaceQu','GarageType']:
    impute_nan(df,x)

In [34]:
df.head()

,BsmtQual,FireplaceQu,GarageType,SalePrice,BsmtQual_new,FireplaceQu_new,GarageType_new
0,Gd,NaN,Attchd,208500,0,1,0
1,Gd,TA,Attchd,181500,0,0,0
2,Gd,TA,Attchd,223500,0,0,0
3,TA,Gd,Detchd,140000,0,0,0
4,Gd,TA,Attchd,250000,0,0,0

In [38]:
def impute_nan1(df,variables):
    most_frequent=df[variables].mode()[0]
    df[variables].fillna(most_frequent, inplace=True)

In [39]:
for x in ['BsmtQual','FireplaceQu','GarageType']:
    impute_nan1(df,x)

In [40]:
df.head()

,BsmtQual,FireplaceQu,GarageType,SalePrice,BsmtQual_new,FireplaceQu_new,GarageType_new
0,Gd,Gd,Attchd,208500,0,1,0
1,Gd,TA,Attchd,181500,0,0,0
2,Gd,TA,Attchd,223500,0,0,0
3,TA,Gd,Detchd,140000,0,0,0
4,Gd,TA,Attchd,250000,0,0,0