#### Handeling Categorical Feature

In [1]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv('titanic_train.csv', usecols=['Sex'])
df.head()

      Sex
0    male
1  female
2  female
3  female
4    male

In [6]:
pd.get_dummies(df, drop_first=True).head()

   Sex_male
0         1
1         0
2         0
3         0
4         1

In [9]:
df=pd.read_csv('titanic_train.csv', usecols=['Embarked'])
df['Embarked'].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [10]:
df['Embarked'].isnull().sum()

2

In [19]:
df['Embarked'].mode()[0]

'S'

In [22]:
df['Embarked'].fillna(df['Embarked'].mode()[0],inplace=True)

In [23]:
df['Embarked'].unique()

array(['S', 'C', 'Q'], dtype=object)

In [24]:
pd.get_dummies(df,drop_first=True).head()

   Embarked_Q  Embarked_S
0           0           1
1           0           0
2           0           1
3           0           1
4           0           1

#### One Hot Encoding for Many catergies Feature

In [26]:
df=pd.read_csv('train.csv', usecols=['X0','X1','X2','X3','X4','X5','X6'])
df.head()

   X0 X1  X2 X3 X4 X5 X6
0   k  v  at  a  d  u  j
1   k  t  av  e  d  y  l
2  az  w   n  c  d  x  j
3  az  t   n  f  d  x  l
4  az  v   n  f  d  h  d

In [27]:
for i in df.columns:
    print(len(df[i].unique()))

47
27
44
7
4
29
12

In [29]:
df.X0.value_counts().sort_values(ascending=False).head(10)

z     360
ak    349
y     324
ay    313
t     306
x     300
o     269
f     227
n     195
w     182
Name: X0, dtype: int64

In [32]:
lst_10 = df.X0.value_counts().sort_values(ascending=False).head(10).index
lst_10= list(lst_10)
lst_10

['z', 'ak', 'y', 'ay', 't', 'x', 'o', 'f', 'n', 'w']

In [37]:
for cat in lst_10:
    df[cat]=np.where(df['X0']==cat,1,0)

In [40]:
lst_10.append('X0')

In [41]:
df[lst_10]

      z  ak  y  ay  t  x  o  f  n  w  X0
0     0   0  0   0  0  0  0  0  0  0   k
1     0   0  0   0  0  0  0  0  0  0   k
2     0   0  0   0  0  0  0  0  0  0  az
3     0   0  0   0  0  0  0  0  0  0  az
4     0   0  0   0  0  0  0  0  0  0  az
...  ..  .. ..  .. .. .. .. .. .. ..  ..
4204  0   1  0   0  0  0  0  0  0  0  ak
4205  0   0  0   0  0  0  0  0  0  0   j
4206  0   1  0   0  0  0  0  0  0  0  ak
4207  0   0  0   0  0  0  0  0  0  0  al
4208  1   0  0   0  0  0  0  0  0  0   z

[4209 rows x 11 columns]